/* Navbar styles */
.topbar {
  height: 40vh;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  background-image: url("../../img/bg1.png");
  background-position: center;
  background-size: cover;
}

/* Wrapper styles */
.topbar .wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

